.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
build/**
client/**
server/**
tsconfig*
webpack*
node_modules
syntaxes/*.yml
